body {
      font-family: Arial;
      font-size: 20px;
      line-height: 30px;
}

input {
      font-family: Arial;
}

#container button{
      font-family: Arial;
}

button{
      font-size: 18px;
      line-height: 1;
      padding: 6px;
      margin-top: 10px;
}